/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global*/

.grid {
	width: 1200px;
	margin: auto;
	position: relative;
}

body {
	font-family: 'Montserrat', sans-serif;
}


/*header*/

.main-header {
	padding-top: 30px;
}

.main-header .grid {
	background: url(img/bg-header.png) no-repeat right;
	height: 1000px;
}

.main-header-logo {
	width: 168px;
	height: 50px;
	background: url(img/logo-header.png);
	font-size: 0;
	margin-bottom: 200px;
}

.main-header-nav {
	position: absolute;
	top: 0;
	right: 0;
}

.main-header-nav li {
	display: inline;
	margin-left: 100px;
}

.main-header-nav a {
	text-decoration: none;
	color: #66708e;
	font-size: 18px;
}

.main-header-subtitle {
	font-size: 24px;
	text-transform: uppercase;
	color:#ff3c00;
	font-weight: 900;
	margin-bottom: 20px;
}

.main-header-title {
	font-size: 100px;
	font-weight: 900;
	color: #303341;
	letter-spacing: 2px;
	margin-bottom: 90px;
}

.main-header-copy {
	color: #646e8c;
	font-size: 20px;
	width: 500px;
	line-height: 1.7;
	margin-bottom: 150px;
}

.main-header-appstore, .main-header-googleplay {
	width: 216px;
	height: 68px;
	display: inline-block;
	margin-right: 25px;
	font-size: 0;
}

.main-header-appstore {
	background: url(img/button-apple.png);
}

.main-header-googleplay {
	background: url(img/button-google.png);
}




